button {
    background-color: cyan;
    font-weight: bold;
    font-size: 20px;
    height: 150px;
    width: 150px;
    padding: 5px;
    margin: 5px;
}

div {
    margin-left: 100px;
    margin-top: 20px;
}